body {
  width: 100%;
  margin: 0 0;
  display: grid;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  color: #003366;
}
header {
  width: 100%;
  /*border-bottom: 1px solid red;*/
  position: absolute;
  z-index: 100;
  padding-top: 20px;
  padding-left: 20px;
}
header h1 {
  /*margin: 0 10px;*/
}
h4 {
  /*color: black;*/
  /*margin: 0 0 6px 20px;*/
}

/* grid */
#v1 {
  margin-top: 5px;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
#v2 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
#v3 {
  margin-top: 5px;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
#v4 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.vis {
  top: 49px;
}

/* v1 */
#v1 .country[fill="grey"] {
  cursor: crosshair;
}
.tooltip {
  position: absolute;
  padding: 5px 3px;
  opacity: 0.75;
  border-radius: 5px;
  overflow-x: visible;
  overflow-y: visible;
  color: white;
  background-color: black;
  display: none;
}

/* v2 */
#v2 path[class] {
  cursor: pointer;
}
#v2 text[x="200"] {
  font-size: 14px;
}
#v2 text {
  font-weight: lighter;
  font-family: Verdana, Geneva, sans-serif;
}

/* v3 */

/* v4 */
/* sunburstStylesheet.css
 * Author: Sarah Quick
 * ECS163 Final Project
 */



#v4 svg {
    background-color: none;
}

#v4 path {
    stroke: white;
}

